body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #F9F6F4;
}

.trong {
    height: 80px;
}

.r-banner {
    position: relative;
}

.r-banner>img {
    width: 100%;
    height: 730px;
}

.container-1 {
    width: 1470px;
    top: 0px;
    position: absolute;
}

.container-2 {
    margin: 0 auto;
    width: 1300px;
}

.r-menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 10px;
    position: absolute
}

.r-icon {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
    font-size: 20px;
    color: #000;
}

.r-icon-1 {
    display: flex;
    align-items: center;
    margin-top: 30px;

}

.r-icon-2 {
    margin-top: 30px;
    font-size: 25px;
    display: flex;
    gap: 120px;
}

.r-icon-2>a {
    text-decoration: none;
    text-transform: capitalize;
    font-family: Cormorant, serif;
    color: #000;
}

.r-hot {
    margin-top: 30px;
    border: 1px solid #000;
    padding: 10px 30px;
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.r-hot::before {
    content: '';
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    transition: top 0.5s ease-in-out;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    z-index: 1;
}

.r-hot>a {
    position: relative;
    z-index: 1;
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.r-hot:hover {
    border: 1px solid #000;
}

.r-hot>a:hover {
    color: #fff;
}

.r-hot:hover::before {
    top: 0;
}


.r-logo {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    font-family: 'Times New Roman', Times, serif;
}

.r-logo-1 {
    font-size: 25px;
    font-weight: 700;
}

.r-logo>a {
    text-decoration: none;
    color: #000;
}

.dropdown-item {
    border: none;
}

.nav>li>a {
    color: #000;
}

.nav>li>a:hover {
    color: #000;
}

.dropdown-menu {
    border: none;
}

.dropdown-item:hover {
    border: none;
}

.b-chon-all {
    width: 100%;
    height: 1310px;
}

.b-chon-all-anh-all {
    width: 100%;
    position: relative;
}

.b-chon-all-anh>img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.b-chon-all-background {
    width: 100%;
    height: 350px;
    background-color: rgb(21 21 21 / 45%);
    position: absolute;
    top: 0;
}

.b-chon-all-thongtin {
    width: 1300px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    color: #fff;
    height: 200px;
    position: absolute;
    top: 80px;
}

.b-chon-all-thongtin-name {
    width: 50%;
    margin-top: 50px;
    text-align: center;
    margin-left: 80px;
}

.b-chon-all-thongtin-name>h1 {
    width: 100%;
    font-size: 70px;
    font-weight: 100;
    font-family: Cormorant, serif;
}

.b-chon-all-thongtin-size {
    margin-top: 10px;
    width: 50%;
}

.b-chon-all-thongtin-size>p {
    width: 100%;
    line-height: 40px;
}

.b-chon-all-product-all {
    width: 100%;
    position: relative;
    height: 530px;
}

.b-chon-all-product-all-mau {
    width: 50%;
    height: 475px;
    margin-left: 40px;
    background-color: #E3DEE4;
}

.b-chon-all-product-all-pro {
    width: 1300px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 30px;
}

.b-chon-all-product-all-pro-1 {
    width: 630px;
    height: 425px;
    top: 40px;
}


.image-slider-container {
    position: relative;
    width: 1300px;
    overflow: hidden;
    margin: 0 auto;
}

.image-slider {
    display: flex;
    gap: 20px;
    transition: transform 1s ease-in-out;
}

.slider-image {
    width: 630px;
    height: 475px;
    flex-shrink: 0;
}

.prev-button,
.next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.prev-button {
    left: 10px;
}

.next-button {
    right: 10px;
}

.prev-button:hover,
.next-button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.description-all {
    width: 1300px;
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
}

.description-all-1 {
    width: 50%;
}

.description-all-2 {
    width: 50%;
}

.description-all-2>i>h1 {
    width: 100%;
    font-size: 30px;
    font-weight: 100;
    color: #151515;
    margin-bottom: 30px;
    font-family: Cormorant, serif;
}

.description-all-2>p {
    margin-bottom: 70px;
}

.description-all-2-a {
    text-decoration: none;
    color: #151515;
    border: 1px solid #777;
    padding: 15px 35px;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.description-all-2-a::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    background-color: #151515;
    transition: all 0.7s ease-in-out;
    z-index: -1;
}

.description-all-2-a:hover::before {
    top: 0;
}

.description-all-2-a:hover {
    color: #fff;
}

.o-paradise {
    width: 100%;
    border-bottom: 1px solid #9C9B99;
    padding-bottom: 40px;
}

.o-paradise-all {
    width: 100%;
}

.o-paradise-all>h1 {
    width: 100%;
    margin: 0 auto;
    font-size: 30px;
    font-weight: 100;
    text-align: center;
    color: #151515;
    font-family: Cormorant, serif;
}

.o-paradise-all-1 {
    width: 850px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    font-family: Cormorant, serif;
    align-items: center;
    margin: 0 auto;
    margin-top: 20px;
}

.o-paradise-phone-1 {
    border-right: 1px solid #9C9B99;
    padding-right: 25px;
}

.o-paradise-phone-1>span {
    font-size: 25px;
}

.o-paradise-phone-2 {
    border-right: 1px solid #9C9B99;
    padding-right: 25px;
}

.o-paradise-phone-2>span {
    font-size: 25px;
}

.o-paradise-phone-3 {
    margin-left: 0px;
}

.o-paradise-phone-3>span {
    font-size: 25px;
}

.o-footer-all {
    width: 100%;
    margin-top: 60px;
}

.o-footer {
    width: 1300px;
    display: flex;
    justify-content: space-between;
}

.o-footer-icon {
    display: flex;
    gap: 10px;
}

.o-footer-icon>a>i {
    font-size: 20px;

}

.o-footer-icon>a {
    text-decoration: none;
    color: #151515;

}

.o-footer-privacy>a {
    text-decoration: none;
    color: #212120;
    font-weight: 100;
}

.o-footer-mail>a {
    text-decoration: none;
    color: #212120;
    font-weight: 100;
}

.o-footer-mail>a>span {
    color: #9000e9;
}

.o-footer-mail>a>span:hover {
    color: #212120;
}

.icon-menu {
    font-size: 30px;
    display: none;
}

.menu {
    display: none;
    width: 20%;
    height: 100%;
    background-color: #FFFFFF;
    padding-left: 40px;
    padding-top: 150px;
    position: absolute;
    position: relative;
    position: fixed;
    z-index: 1000;
}

.menu ul {
    list-style: none;
    padding: 0;
}

.menu ul li {
    margin: 5px 0;
    min-height: 70px;

}

.menu ul li a {
    color: #000;
    font-size: 30px;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.7s ease;
}

.menu ul li a:hover {
    color: #63ADD7;
}

.close-menu {
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 30px;
    color: #708496;
    cursor: pointer;
    transition: all 0.7s ease;
}

.close-menu:hover {
    color: #333;
}

.menu.active {
    display: block;
}

@media all and (min-width: 1025px) and (max-width: 1380px) {
    body {
        max-width: 1380px;
        width: 100%;
    }

    header {
        min-width: 1025px;
    }

    main {
        min-width: 1025px;
    }

    footer {
        min-width: 1025px;
    }

    .container-2 {
        max-width: 1380px;
        width: 100%;
    }

    .container-1 {
        width: 100%;
    }

    .r-menu {
        width: 100%;
        margin: 0 auto;
    }

    .r-icon {
        width: 100%;
    }

    .r-icon-2 {
        width: 30%;
    }

    .r-logo {
        width: 30%;
    }

    .r-icon-1 {
        display: none;
    }

    .r-hot {
        display: none;
    }

    .b-chon-all {
        width: 100%;
        margin: 0 auto;
    }

    .b-chon-all-anh-all {
        width: 100%;
    }

    .b-chon-all-anh {
        width: 100%;
    }

    .b-chon-all-anh>img {
        width: 100%;
    }

    .b-chon-all-thongtin {
        margin: 0 auto;
        width: 90%;
    }

    .b-chon-all-product-all {
        width: 100%;
    }

    .b-chon-all-product-all-mau {
        width: 50%;
        margin-left: 0;
    }

    .container-2 {
        width: 90%;
    }

    .b-chon-all-product-all-pro {
        width: 90%;
        height: 70%;
    }

    .b-chon-all-product-all-pro-1 {
        width: 100%;
        height: 100%;
    }

    .image-slider-container {
        width: 100%;
        height: 100%;
    }

    .image-slider {
        width: 90%;
    }

    .image-slider>img {
        width: 40%;
    }

    .description-all {
        width: 100%;
        margin-top: 0;
    }



    .o-footer-all {
        width: 100%;
    }

    .o-paradise {
        width: 90%;
        margin: 0 auto;
    }

    .o-footer {
        width: 90%;
        margin: 0 auto;
    }
}

@media all and (min-width: 601px) and (max-width: 1024px) {
    body {
        min-width: 601px;
        width: 100%;
    }

    header {
        min-width: 601px;
        width: 100%;
    }

    main {
        min-width: 601px;
        width: 100%;
    }

    footer {
        min-width: 601px;
        width: 100%;
    }

    .container-2 {
        min-width: 601px;
        width: 100%;
    }

    .trong {
        min-width: 601px;
        width: 100%;
    }

    .container-1 {
        width: 100%;
    }

    .r-menu {
        width: 90%;
        margin: 0 auto;
        position: absolute;
        left: 50px;
    }

    .r-icon {
        width: 100%;
        justify-content: space-between;
        margin-left: 0;
    }

    .menu {
        width: 35%;
    }

    .icon-menu {
        display: block;
        margin-top: 30px;
    }

    .r-icon-1 {
        display: none;
    }

    .r-icon-2 {
        display: none;
    }

    .r-hot {
        display: none;
    }

    .b-chon-all {
        width: 100%;
        margin: 0 auto;
    }

    .b-chon-all-anh-all {
        width: 100%;
    }

    .b-chon-all-anh {
        width: 100%;
    }

    .b-chon-all-anh>img {
        width: 100%;
    }

    .b-chon-all-thongtin {
        width: 90%;
    }

    .b-chon-all-thongtin-name {
        width: 50%;
    }

    .b-chon-all-thongtin-name>h1 {
        font-size: 50px;
    }

    .b-chon-all-thongtin-size {
        width: 50%;
    }

    .b-chon-all-product-all {
        width: 100%;
        height: 30%;
    }

    .b-chon-all-product-all-mau {
        width: 50%;
        height: 72%;
        margin-left: 0;
    }

    .container-2 {
        width: 90%;
    }

    .b-chon-all-product-all-pro {
        width: 90%;
        height: 75%;
    }

    .b-chon-all-product-all-pro-1 {
        width: 100%;
        height: 100%;
    }

    .image-slider-container {
        width: 100%;
        height: 100%;
    }

    .image-slider {
        width: 90%;
    }

    .image-slider>img {
        width: 60%;
    }

    .description-all {
        width: 100%;
        margin-top: 0;
    }


    .o-footer-all {
        width: 100%;
    }

    .o-paradise {
        width: 90%;
        margin: 0 auto;
    }

    .o-paradise-all {
        width: 100%;
    }

    .o-paradise-all>h1 {
        width: 100%;
    }

    .o-paradise-all-1 {
        width: 100%;
        flex-wrap: wrap;
        gap: 5px;
        justify-content: center;
    }

    .o-paradise-phone-1 {
        border-right: none;
    }

    .o-paradise-phone-2 {
        border-right: none;
        border-left: 1px solid #9C9B99;
        padding-left: 10px;
    }

    .o-paradise-phone-3 {
        border-left: 1px solid #9C9B99;
        padding-left: 10px;
    }

    .o-footer {
        width: 90%;
        margin: 0 auto;
    }
}

@media (max-width: 600px) {
    body {
        max-width: 600px;
        width: 100%;
    }

    header {
        max-width: 600px;
        width: 100%;
    }

    main {
        max-width: 600px;
        width: 100%;
    }

    footer {
        max-width: 600px;
        width: 100%;
    }

    .trong {
        max-width: 600px;
        width: 100%;
    }

    .container {
        max-width: 600px;
        width: 100%;

    }

    .container-2 {
        max-width: 600px;
        width: 100%;
    }

    .container-1 {
        width: 100%;
    }

    .r-menu {
        width: 90%;
        margin: 0 auto;
        position: absolute;
        left: 20px;
    }

    .menu {
        width: 50%;
    }

    .r-icon {
        width: 100%;
        justify-content: space-between;
        margin-left: 0;
    }

    .icon-menu {
        display: block;
        margin-top: 30px;
    }

    .r-icon-1 {
        display: none;
    }

    .r-icon-2 {
        display: none;
    }

    .r-hot {
        display: none;
    }

    .b-chon-all {
        width: 100%;
        margin: 0 auto;
    }

    .b-chon-all-anh-all {
        width: 100%;
    }

    .b-chon-all-anh {
        width: 100%;
    }

    .b-chon-all-anh>img {
        width: 100%;
    }

    .container-2 {
        width: 100%;
    }

    .b-chon-all-thongtin {
        width: 90%;
        flex-wrap: wrap;
    }

    .b-chon-all-thongtin-name {
        width: 90%;
        margin: 0 auto;
    }

    .b-chon-all-thongtin-name>h1 {
        width: 100%;
        font-size: 40px;
    }

    .b-chon-all-thongtin-size {
        width: 90%;
        margin: 0 auto;
        text-align: center;

    }

    .b-chon-all-thongtin-size>p {
        width: 100%;
    }

    .b-chon-all-product-all {
        width: 100%;
        height: 30%;
    }

    .b-chon-all-product-all-mau {
        width: 50%;
        height: 62%;
        margin-left: 0;
    }

    .container-2 {
        width: 90%;
    }

    .b-chon-all-product-all-pro {
        width: 90%;
        height: 70%;
    }

    .b-chon-all-product-all-pro-1 {
        width: 100%;
        height: 100%;
    }

    .image-slider-container {
        width: 100%;
        height: 100%;
    }

    .image-slider {
        width: 100%;
    }

    .image-slider>img {
        width: 90%;
        height: auto;
    }

    .description-all {
        width: 100%;
        margin-top: 0;
    }

    .description-all-1 {
        display: none;
    }

    .description-all-2 {
        width: 100%;
    }

    .o-footer-all {
        width: 100%;
    }

    .o-paradise {
        width: 90%;
        margin: 0 auto;
    }

    .o-paradise-all {
        width: 100%;
    }

    .o-paradise-all>h1 {
        width: 100%;
    }

    .o-paradise-all-1 {
        width: 100%;
        flex-wrap: wrap;
        gap: 5px;
        justify-content: center;
        text-align: center;
    }

    .o-paradise-phone-1 {
        width: 100%;
        border-right: none;
    }

    .o-paradise-phone-2 {
        width: 100%;
        border-right: none;
        font-size: 10px;
    }

    .o-paradise-phone-3 {
        width: 100%;
    }

    .o-footer {
        width: 90%;
        margin: 0 auto;
        flex-wrap: wrap;
        gap: 10px;
        text-align: center;
    }

    .o-footer-icon {
        width: 17%;
        margin: 0 auto;
    }

    .o-footer-privacy {
        width: 100%;
    }

    .o-footer-mail {
        width: 100%;
    }
}